[submodule "submodules/cpr"]
	path = submodules/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
